body {
    margin: 0;
    background-image: url('/app/background.jpg'); /* Укажите путь к вашей картинке */
    background-size: cover;
    font-family: Arial, sans-serif;
}

.header {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 15px 0;
}

.container {
    display: flex;
    height: calc(100vh - 60px);
}

.sidebar {
    width: 200px;
    background: rgba(128, 128, 128, 0.7);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.content {
    flex: 1;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    color: black;
}

.nav-button, .lecture-button, .exercise-button {
    background: transparent;
    border: none;
    color: black;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.nav-button:hover,
.lecture-button:hover,
.exercise-button:hover {
    background-color: #ff6666;
    transform: translateX(5px);
}

.info-box {
    background: rgba(255, 102, 102, 0.9);
    border-radius: 10px;
    padding: 10px;
}

.copy-button {
    background-color: #ff6666;
    color: white;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s;
}

.copy-button:hover {
    opacity: 0.9;
}
